* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: cursive;
}

body {
    height:100vh;
    width:100vw;
    background:dimgrey;
}

#canvas-1 {
    position:absolute;
    left:50%;
    transform:translate(-50%, 0%);
    background:hsl(0deg 0% 100%);
    cursor:crosshair;
    /* cursor:none; */
}
